* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #f2f2f2;
    font-family: sans-serif;
  }
  
  #gameCanvas {
    display: block;
    margin: 0 auto;
    background: #87cefa; /* Блакитне небо */
    border: 2px solid #555;
    margin-top: 20px;
  }
  
  .info {
    width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }
  
  .info div {
    background: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  